html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Lato;
    src: url(https://zack3dprints.com/font/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoB;
    src: url(https://zack3dprints.com/font/Lato-Bold.ttf);
}

@font-face {
    font-family: Simp;
    src: url(https://zack3dprints.com/font/SIMPLIFICA.ttf)
}

@font-face {
    font-family: 'NotoColorEmoji';
    src: url('/font/NotoColorEmoji.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    color: #FFC500;
    font-size:64px;
    font-weight: bold;
    font-family: Lato
}

h2 {
    color: #FFC500;
    font-family: Lato
}

p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: large;
}

body{
    background-color:#121212;
}

label{
    color: #FFFFFF;
    font-family: Lato;
    margin: 16px;
}

input{
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
}

table{
    background: #1E1E1E;
    border-collapse: collapse;
    padding: 10px;
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow:  5px 5px 8px #0e0e0e;
    clip-path: polygon(
      0 8px,
      14px 0,
      calc(100% - 14px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 14px) 100%,
      14px 100%,
      0% calc(100% - 8px),
      0% 8px
    )
}

td{
    padding: 8px;
    text-align: left;
}

.tdi{
    text-align: center; 
}

code{
    color: #FFC500;
    background-color: #1E1E1E;
    margin: 2px 2px;
    padding: 5px 5px;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}

select{
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
}

.section {
    background: #1E1E1E;
    text-align: center;
    padding: 10px;
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow:  5px 5px 8px #0e0e0e;
    position:relative;
    overflow:visible;
    clip-path: polygon(
      0 8px,
      14px 0,
      calc(100% - 14px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 14px) 100%,
      14px 100%,
      0% calc(100% - 8px),
      0% 8px
    )
}

.margin {
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.section-anim {
    animation-name: zoom3;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}

.flexbox {
    display: flex;
    margin: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 16px;
}

.flexsection {
    background: #1E1E1E;
    text-align: center;
    box-shadow:  5px 5px 8px #0e0e0e;
    padding: 10px;
    text-align: left;
    clip-path: polygon(
      0 8px,
      14px 0,
      calc(100% - 14px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 14px) 100%,
      14px 100%,
      0% calc(100% - 8px),
      0% 8px
    )
}

@media (max-aspect-ratio: 1) {
    .section{
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .flexbox {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .margin {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    table {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.btn{
    border-radius: 8px;
}

.rounded{
    box-shadow:  5px 5px 8px #1A1A1A;
}


.hline {
    border-color: #1E1E1E;
    margin-left: 15%;
    margin-right: 15%;
}

/*
body {
    background-image: url("bgdots.png");
    background-repeat: repeat;
}
*/

#bg {
    background-image: url("bgdots2.png");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    position: fixed;
    z-index: -100;
    height: 100%;
    width: 100%;
}

#blurbg{
    background-color: rgba(25, 25, 25, 0.05);
    background-attachment: fixed;
    position: fixed;
    backdrop-filter: blur(80px);
    z-index: -101;
    height: 100%;
    width: 100%;
}

#glowbg{
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: #ffffff;
    background-attachment: fixed;
    position: fixed;
    z-index: -102;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}