html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color: #000000;
    background-color:#121212;
}

body{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter.ttf') format('truetype');
}

*
{
	font-family: 'Inter';
	font-weight: 250;
	font-size: em;
	line-height: 1.5em;
}

h1 {
    color: #FFC500;
    font-size:64px;
    font-weight: bold;
    text-shadow:
    0px 0px 0 rgb(117, 89, 0, 0.1),
    0px 1px 0 rgb(117, 89, 0, 0.1),
    0px 2px 0 rgb(117, 89, 0, 0.1),
    0px 3px 0 rgb(117, 89, 0, 0.1),
    0px 4px 0 rgb(117, 89, 0, 0.1),
    0px 5px 0 rgb(117, 89, 0, 0.1), 
    0px 6px 0 rgb(117, 89, 0, 0.1),
    0px 7px 0 rgb(117, 89, 0, 0.1),
    0px 8px 0 rgb(117, 89, 0, 0.1)

}

h2 {
    color: #FFC500;
}

h3 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    font-size: large;
}

label{
    color: #FFFFFF;
    margin: 16px;
}

input{
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
}

td{
    padding: 8px;
    text-align: left;
}

.tdi{
    text-align: center; 
}

code{
    color: #FFC500;
    background-color: #1E1E1E;
    margin: 2px 2px;
    padding: 5px 5px;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}

code:hover{
    background-color: #313131;
}

.wishlistbutton{
    margin: 8px;
    background-color: #ffc518; 
    color: #121212; 
    margin-left: 7%; 
    margin-top: -20px; 
    margin-bottom: 32px;
    border: 2px solid #121212; 
    transform: skewY(-9deg) scaleY(0.9);
    font-size: 1.25rem;
    transition: 0.3s;
}

.wishlistbutton:hover{
    background-color: #FFFFFF; 
    transform: skewY(-9deg) scaleY(0.9) scale(1.05);
}

select{
    border-width: 0px;
    padding: 8px;
    box-shadow: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
}

.section {
    background: #1E1E1E;
    text-align: center;
    padding: 10px;
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow:  5px 5px 8px #0e0e0e;
    position:relative;
    overflow:visible;

    /*border: 17px solid red;
    padding: 0px;
    border-image: url(9slice.png) 17 round;*/

    clip-path: polygon(
      0 8px,
      14px 0,
      calc(100% - 14px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 14px) 100%,
      14px 100%,
      0% calc(100% - 8px),
      0% 8px
    )
}

.sectionbefore {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #1E1E1E;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: -1;
    clip-path: polygon(
        0 8px,
        14px 0,
        calc(100% - 14px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 14px) 100%,
        14px 100%,
        0% calc(100% - 8px),
        0% 8px
    )
}

.margin {
    margin: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.section-anim {
    animation-name: zoom3;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}

.flexbox {
    display: flex;
    margin: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 16px;
}

.flexsection {
    background: #1E1E1E;
    text-align: center;
    box-shadow:  5px 5px 8px #0e0e0e;
    padding: 10px;
    text-align: left;

    /*border: 17px solid red;
    padding: 0px;
    border-image: url(9slice.png) 17 round;*/

    clip-path: polygon(
      0 8px,
      14px 0,
      calc(100% - 14px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 14px) 100%,
      14px 100%,
      0% calc(100% - 8px),
      0% 8px
    )
}


.cornerbutton{
    position: fixed;
    left: 16px;
    bottom: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Defines 2 columns */
  /* grid-auto-flow: row; (This is the default and can be omitted) */
}

.dioralogo{
    width: 90%;
    margin-top: 16px;
}

@media (max-width: 1446px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; /* Defines 1 columns */
        /* grid-auto-flow: row; (This is the default and can be omitted) */
    }

    .dioralogo{
        width: 50%;
    }
}

@media (max-aspect-ratio: 0.9) {
    .section{
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .flexbox {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .margin {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    table {
        margin: 5%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .dioralogo{
        width: 100%;
    }

    *
    {
        font-size:larger;
    }
    

}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.btn{
    border-radius: 8px;
}

.textlink{
    color: #FFFFFF;
}

.toc{
    color: #FFFFFF;
    text-decoration: none;
}

li {
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
}

ul {
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
}

.rounded{
    box-shadow:  5px 5px 8px #1A1A1A;
}

.hline {
    border-color: #1E1E1E;
    margin-left: 15%;
    margin-right: 15%;
}

#blurbg{
    background-color: rgba(25, 25, 25, 0.05);
    background-attachment: fixed;
    position: fixed;
    backdrop-filter: blur(80px);
    z-index: -101;
    height: 100%;
    width: 100%;
}

#glowbg{
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: #ffffff;
    background-attachment: fixed;
    position: fixed;
    z-index: -102;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}